/* Framasoft colors */
.violet {
    font-weight: bold;
    color: #6A5687;
}

.orange {
    font-weight: bold;
    color: #D2703A;
}

.vert {
    font-weight: bold;
    color: #849551;
}

.bleu {
    font-weight: bold;
    color: #0C5B7A;
}

.rouge {
    font-weight: bold;
    color: #CC2D18;
}

.jaune {
    font-weight: bold;
    color: #C48A1B;
}
/* End Framasoft colors*/
